.show-hide {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    .toggle {
        display: inline-block;
        color: #3171bf;
        &.active {
            margin-bottom: 0.5rem;
        }
        .octicon {
            margin-right: 0.25rem;
            min-width: 1.5rem;
        }
    }

    &-animated {
        &-enter {
            opacity: 0;
        }

        &-enter-active {
            opacity: 1;
            transition: opacity 500ms;
        }

        &-exit {
            opacity: 1;
        }

        &-exit-active {
            opacity: 0;
            transition: opacity 500ms;
        }
    }
}
