.code-copy {
    code {
        position: relative;
        display: block;
        cursor: pointer;
        margin-bottom: 0.5rem;
        &.inline {
            display: inline-block;
        }
    }

    .message {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        background: #cccc;
        color: orangered;
        font-size: smaller;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
