.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
p.optimal-width {
    column-width: 30rem;
    column-gap: 2rem;
    border-bottom: solid 2px #e0e0e0;
    padding-bottom: 0.5rem;
}

nav {
    margin-top: 2rem;
    margin-bottom: 5rem;
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        flex-flow: row wrap;
        justify-content: flex-end;
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            display: flex;
            align-items: center;
            align-content: center;
            min-width: 130px;
            min-height: 40px;
            border: 1px solid;
            border-radius: 4px;
            text-decoration: none;
            justify-content: center;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
            &.active {
                color: white;
                background: #3171bf;
                font-weight: bold;
            }
        }
    }
}
